// Grand Central Station
@import 'google-homepage';

    
 First Frame
img {
   
    height: auto;
    width: auto;
    
//    transition: transform 1s;   
}
    
 Last Frame



.line {
    fill:none;
    stroke:#8cff19;
    }

.line:hover {
    stroke: red;
}

